*{
	margin:0px;
	padding:0px;
	border:0px;
	font-family:Arial;
	text-shadow: none;	
}

a{
	text-decoration:none;
}

/*
.page{
	background: url("../images/bg_page.png") repeat-x;
	background-size: 100%;
}
*/






#header{
	background: #35557d;
	height:70px;
	border:0px;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index:1000;
}
/*
#logo{
	width:110px;
	height:65px;
	background: url("../images/logo.png") no-repeat center center;
	background-size: 100%;
	margin:5px auto 0px auto;
}
*/

#hCenter{
	margin: 5px auto 0px auto;
	width: 155px;
	height: 70px;
}

#logo{
	width:85px;
	height:70px;
	background: url("../images/logo.png") no-repeat center center;
	background-size: 90% 45px;
	float: left;
}

#likesNotifications{
	float: left;
	background: url("../images/swiper/notif_bg1.png") no-repeat center center;
	background-size: 100%;
	/*
	 position: absolute;
	 left: 85px;
	 top: 0px;
	 */
	width: 70px;
	height: 70px;
	position: relative;
}

#likesCount{
	background: url("../images/swiper/noti.png") no-repeat center center;
	background-size: 80%;
	position: absolute;
	left: -5px;
	bottom: -5px;
	width: 28px;
	height: 28px;
	font-size: 11px;
	color: #fff;
	padding-top: 12px;
	text-align: center;

}

#back{
	position:absolute;
	top:10px;
	left:10px;
	width:75px;
	height:60px;
	background: url("../images/back_button.png") no-repeat left center;
	background-size: 100%;
	display:none;
}

#logout{
	position:absolute;
	top:10px;
	right:10px;
	width:75px;
	height:60px;
	background: url("../images/logout_button.png") no-repeat left center;
	background-size: 100%;
	display:none;
}

#sign_up{
	display:none;
	position:absolute;
	top:10px;
	left: 1px;
}

.marTop{
	width:100%;
	height:70px;
}



#header_wrap{
	positioon:relative;
	width:100%;
	height:100%;
}


.content_wrap{
	margin:0 auto;
	width:300px;
}

#download_app_button, #cell_website_button, #regular_website_button{	
	width:283px;
	height:98px;
	margin-bottom:15px; 
}

#download_app_button{
	background:url("../images/download_app_button.png") no-repeat;	
}

#cell_website_button{
	background:url("../images/sellular_website_button.png") no-repeat;	
}

#regular_website_button{
	background:url("../images/regular_website_button.png") no-repeat;	
}

#my_button{
	background:url("../images/download_app_button.png") no-repeat;
	width:283px;
	height:98px;
}

#user_txt, #user_input, #pass_txt, #pass_input, #fog_pass, #login, .regInput, .regTxt{
	float:left;
}

#birthDate div{	
	margin-right:2px;
}


#user_txt, #pass_txt, .regTxt{
	width:75px;	
	margin-right:10px;	
	color:#3a3a3a;
	font-size:15px;
	font-weight: bold;
	
}

.lineHeight_50{
	line-height:50px;
}

.lineHeight_25{
	line-height:15px;
}

.mar_top_8{
	/*line-height:35px;*/
	margin-top:8px;
}

#user_input input, #pass_input input, .regInput input, .regInput textarea{
	width:180px;
	height:38px;
	border:0px;
	background: #f0e2b9;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;	
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
	font-size: 14px;
    padding:7px;
    margin-bottom:15px;
}

#user_input, #pass_input{
	width: 96%;
}

#user_input input, #pass_input input{
	background: #fff;
	width: 100%;
}

.regInput textarea {
	height: 100px;
}

/*
.regInput input{
	
	background: #eaeaea;
	border:1px solid #d6d7d6;
	
}
*/
.clear{
	clear:both;
	height:1px;
}

#login_page{
	margin-top: -20px;
	height: 600px;
	background: url('../images/bg_page_login.jpg') no-repeat;
	background-size: cover;
}


#authForm{
	background: url("../images/bg_form_login.png");
	position: absolute;
	top: 350px;
	left: 0px;
	width:100%;
}


#authForm label{
	width:170px;
	background:none;
	border:0px;
	color:#707070;
	font-weight:normal;
	font-size:13px;	
}

#authForm label span{
	font-size:13px;
}

#authForm input[type="checkbox"]{
			
}

#fog_pass{
	margin-top: 15px;
}

#fog_pass a{
	color: #494949;
	font-size: 12px;	
	text-decoration:underline;
}

#fog_pass a:hover{	
	text-decoration:none;   	
}

#login{
	width:99px;
	height:42px;
	background: url("../images/login_button.png") no-repeat;
	float:right;	
}

#orange_line{
	width:100%;
	height:12px;
	background:#f88f22;
}

.user_data_preview{
	float:left;
	width:140px;
	position:relative;
	display:none;
}

.user_data_preview .user_photo_wrap{
	width:131px;
	height:131px;
	overflow:hidden;
	border:2px solid #fff;
}

.user_data_preview .user_photo{	
	width:131px;	
	background:#464646;				
}

.user_data_preview a span{	
	color:#f97b00;
	font-size:14px;
	text-decoration:none;
	
}

.user_data_preview a{
	text-decoration:none;
	margin-left:2px;	
}

.user_data_preview .on{
	position:absolute;
	right:10px;
	bottom:4px;		
	color: #7d7d7d;
	font-size: 10px;
	width: 30px;
	text-align: right;
	background: url("../images/online_icon.png") left center no-repeat;
}

.user_data_preview .address{
	width:90px;
	font-size: 13px;
	color: #4e4e4e;
	margin-left:2px; 
}

.image_loading{
	/*background: url("../jquery.mobile/images/ajax-loader.gif") no-repeat;*/ 
	width:46px;
	height:46px;
	margin:auto;
	/*filter: Alpha(Opacity=18);*/
}


#top_left_buttons{
	
	/*
	left:17px;	
	z-index: 10;
	position:absolute;
	*/
	width:33%;
	float:left;
	
}

#top_right_buttons{	
	
	/*
	position:absolute;
	right:17px;	
	z-index: 10;
	*/	
	
	
	width:33%;
	float:right;
}

#right_buttons{
	float:right;	
}



#center_logo{	
	/*
	z-index: 5;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:50px;
	background: url("../images/logo.png") no-repeat center center;
	*/
	float:left;
	width:33%;
	height:50px;
	background: url("../images/logo.png") no-repeat center center;
	
	 
	
}

/*
#center_logo{	
	width:96px;
	height:49px;
	background: url("../images/logo.png") no-repeat;	
	
	position: absolute;
	top:0px;
	right:35%; 
}
*/


#contact{
	display:none;		
	float:left;
	width:68px;
	height:29px;
	background: url("../images/contact_button.png") no-repeat;
	margin:11px 0 0 0;		
}



#friends_online{
	background:url("../images/friends_online_button.png") no-repeat;
}

#search_friends{
	background:url("../images/search_friends_button.png") no-repeat;
}

#like_but{
	background:url("../images/swiper/bt_arena_home.png") no-repeat;
}


#mail_box{
	background:url("../images/mail_box_button.png") no-repeat;
	position:relative;
}

#looked_me{
	background:url("../images/looked_me_button.png") no-repeat;
}

#looked_them{
	background:url("../images/looked_them_button.png") no-repeat;
}

#contacted_them{
	background:url("../images/contacted_them_button.png") no-repeat;
}

#favorites{
	background:url("../images/favorites_button.png") no-repeat;
}

#update_profile{
	background:url("../images/update_profile_button.png") no-repeat;
}


#friends_online, #search_friends, #like_but, #mail_box, #looked_me, #looked_them,  #contacted_them, #favorites, #fav_me, #update_profile{
	float:left;
	width:100px;
	height:100px;
	background-size: 100%;
}

#profile{
	width:100%;
	height:75px;
	background:url("../images/swiper/myProfileBut.png") no-repeat;
	background-size: 100%;
	margin-top: 10px;
}


#manage_images{
	width:100%;
	height:75px;
	background:url("../images/upload_photo_button.png") no-repeat;
	background-size: 100%;
	margin-top: 10px;
}

#contact_us{
	width:100%;
	height:75px;
	background:url("../images/contact_us_button.png") no-repeat;
	background-size: 100%;
}





#why_subscr{
	width:290px;
	height:60px;
	/*background:url("../images/why_subscr_button.png") no-repeat;*/
	float:left;
	margin-top:10px;
}


#new_mes_count{
	display:none; 
	background:url("../images/new_mes_count_bg.png") no-repeat;
	position:absolute;
	top:0px;
	right:0px;
	z-index:10;
	width:31px;
	height:31px;	
	font-size: 13px;	
	color:#fff;
	text-align: center;
	line-height: 31px; 
}



.no_dec{
	text-decoration: none;
}


h1{
	color:#262626;
	font-size: 20px;
		
}

h1 span{
	color:#ea580d;  
}


.sendMessDiv{
	position:relative;
}

.messField{
	float:left;
	width:65%;
}

.messField textarea{
	max-height:170px;
}

.sendMessButDiv{
	float:right;
	width:30%;
	position:absolute;
	top:0px;
	right:0px;
}


.dots{
	background: url("../images/v_dots.png") repeat-x;
	margin:11px 0 11px 0;
	width:100%;
	height:2px;	
}

#search_form{
	color:#7d7d7d;
	font-size:18px;
	font-weight:bold;	
}

.sf_txt{
	float:left;
	width:30%;
	line-height:55px;
}

.sf_txt2{	
	float:left;
	line-height:55px;	
	width:10%;
	text-align:center;  
}

.sf_sel_wrap{
	float:left;
	width:70%;
}

.sf_sel{
	width:100%;	
}

.left{
	float:left; 	
}

.sf_sel_wrap2{
	float:left;
	width:45%;
}

.search_but{
	width:101px;
	height:43px;
	margin:15px 0 0 0;
}

#search{
	background: url("../images/search_button.png") no-repeat;
}

#my_search{
	background: url("../images/my_search_button.png") no-repeat;
}


#footer{
	background:#f7eed8 url("../images/footer_bg.png") repeat-x bottom;
	width:100%;
	height:97px;
	border:0px;
	position: fixed;
	bottom:0px;
	display:none;				
}


#footer1{
	float:right;
	width:320px;
	height:97px;
	background:#f7eed8 url("../images/search_form_footer_bg.png") no-repeat left bottom;  
}

.res_btn{
	width:54px;
	height:20px;
	margin:3px 0 0 10px;
}

#distance{
	background:url("../images/distance_button.png") no-repeat;
}

#online{	
	background:url("../images/online_button.png") no-repeat;	
}

#gallery{
	background:url("../images/gallery_button.png") no-repeat;	
}

.right{
	float:right;
}

.user_data{
	width: 100%;
	height:100px;
	background:#fff;
	margin-bottom: 15px;
	padding:5px 0 0 5px;
	position: relative;
}

.user_data .user_photo_wrap{
	width:95px;
	height:95px;
	overflow:hidden;
	position:relative;
}

.user_pic{
	width:95px;
	/*height:95px;*/
	background:#575757;	
}

.send_mes{
	width:65px;
	height:100%;
	background:url("../images/send_mes_button.png") no-repeat right center;
	position: absolute;
	right:0px;
	top:0px;	
}

.user_short_txt{
	position: absolute;
	left:105px;
	top:5px;
	height:95px;
	/*width:44%;*/	
	color:#434343;
	font-size:11px;
	overflow:hidden;
	margin-right:68px;
	/*
	margin-right:70px;
	margin-left:100px;
	*/
}

.user_short_txt a{
	color:#434343;
	font-size:11px;
}

.user_short_txt strong a{
	color:#000;
}

.user_short_txt span{	
	color:#909090;
}

.user_short_txt strong span{	
	color:#ff4200;
}

.on2{
	display:none;
	width:20px;
	height:21px;
	background:url("../images/online_icon2.png") no-repeat;
	position: absolute;
	left:85px;
	top:0px;
}

.special{	
	width:44px;
	height:64px;
	background:url("../images/special_icon.png") no-repeat;
	position: absolute;
	left:69px;
	top:-8px;	
}

.distance_value{
	width:60px;
	height:20px;
	background:url("../images/distance_value_bg.png") no-repeat;
	position: absolute;
	left:20px;
	bottom:3px;
	text-align: center;
	color:#5f5f5f;
	font-size: 14px;
	font-weight: bold;
	line-height:20px;
	
}

a .mail_section{
	font-weight:normal;
}

.mail_section{
	width:100%;
	height:66px;
	background: #fff;
	/*padding:5px;*/
	position: relative;
	clear:both;
}

.mail_section .txt{	
	height:60px;
	float:left;	
	color: #000000;
	font-size:12px;
	margin:7px 65px 7px 7px;
	overflow: hidden;
}

.mail_section a div{
	font-weight:normal;
}

.mail_section img{
	float:right;
	width:55px;
	height:55px;
	border:1px solid #a4a4a4;
	background:#575757;	
	position: absolute;
	top:5px;
	right:5px;	
}

.mail_section strong{
	font-size:13px;	 
}

.mail_section span{
	position: absolute;
	top:7px;
	right:65px;
	color:#cacaca;
	font-size: 12px;	
}

.new_mes_count{
	background:url("../images/new_mes_count_bg2.png") no-repeat;
	position:absolute;
	top:-5px;
	right:-5px;
	z-index:10;
	width:27px;
	height:26px;	
	font-size: 12px;	
	color:#fff;
	text-align: center;
	line-height: 26px;
	font-weight: bold;
}


.new_mes_count2{
	background:url("../images/new_mes_count_bg3.png") no-repeat;
	position:absolute;
	top:-3px;
	right:-5px;
	z-index:30;
	width:18px;
	height:17px;	
	font-size: 8px;	
	color:#fff;
	text-align: center;
	line-height: 17px;
	font-weight: bold;
}

/*
.new_mes{
	
	position:absolute;
	
	top:35px;	
	background:#ffedc6;
	opacity:0.9;
	z-index:20;
	width:60px;
	height:25px;
	border-radius: 8px; 
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px;
	border: 2px solid #fff;
	box-shadow: 4px 4px 7px #ffe2a3;
	display:none;
	
	font-size:11px;
	color:red;
	font-weight: bold;
	
	text-align: center;
	
}

*/

.new_mes{
	position:absolute;	
	top:80px;
	right:10px;
	width:35px;
	height:35px;
	background: url("../images/new_mes_bg.png") no-repeat;
	display:none;
}

.special2{	
	width:30px;
	height:44px;
	background:url("../images/special_icon2.png") no-repeat;
	position: absolute;
	right:41px;
	top:-8px;		
}

.gallery_section{
	width:88px;
	height:88px;
	background: #fff;
	position:relative;
	float:left;
	margin:0 8px 8px 0;	
}

.gallery_section img{
	width:84px;
	/*height:84px;*/
	background: #fff;
	margin:2px;
}

.gallery_section .name{
	width:100%;
	height:21px;
	background: #fff;
	position: absolute;
	bottom:2px;	
	text-align:center;
	z-index:10;
	font-weight: bold;
	color:#262626;
	font-size: 13px;
	line-height:26px;
}

.on3{
	width:20px;
	height:21px;
	background:url("../images/online_icon2.png") no-repeat;
	position: absolute;
	right:-5px;
	top:-5px;
}

.on5{
	width:20px;
	height:21px;
	background:url("../images/online_icon2.png") no-repeat;
	position: absolute;
	right:3px;
	top:-2px;
}

.special3{	
	width:30px;
	height:44px;
	background:url("../images/special_icon2.png") no-repeat;
	display:none;		
}

.special4{	
	width:44px;
	height:64px;
	background:url("../images/special_icon.png") no-repeat;
	position:absolute;
	top:-16px;
	left:-20px;
	display:none;		
}

.gal_top_icons{
	position: absolute;
	left:-7px;
	top:-5px;	
}

.blue_star{	
	width:23px;
	height:22px;
	background:url("../images/blue_star.png") no-repeat;
	display:none;
}

.yellow_star{	
	width:23px;
	height:22px;
	background:url("../images/yellow_star.png") no-repeat;		
}

.message_in, .message_out{
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;	
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;    
    width:75%;
    line-height:1.5em;
    margin-bottom: 5px;
    padding:10px 10px 10px 10px;
    -moz-box-shadow: 2px 2px 3px #c4c0b4;
	-webkit-box-shadow: 2px 2px 3px #c4c0b4;
	box-shadow: 2px 2px 3px #c4c0b4;
	font-size: 13px;
	background-repeat: no-repeat;	
	background-size: 100% 100%;
	border-top:1px solid #fff;		
}

.message_in{	
	background-image: url("../images/mes_in_bg.png");
	background-color:#ffd762;	
}

.message_out{
	background-image: url("../images/mes_out_bg.png");
	background-color:#e0e1e2;	
}

.message_status {
	float: right;
	width: 39px;
	height: 23px;
}

.message_status img {
	height: 16px;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}

.message_info{
	width:70%;
	font-size: 11px;
	color: #818181;	
	clear:both;
	margin-bottom:20px; 	
}

.info_right{
	text-align:right;
	margin-right:15px;
	float:right;
}

.info_left{
	text-align:left;
	margin-left:15px;
	float:left;
}

#my_info{
	width:100%;
	position: relative;	
}

#my_info .user_pic{
	width:82px;
	height:82px;
	/*background: url("../images/no_photo_female.jpg") no-repeat bottom center;*/
	border: 2px solid #ccc;
	position: relative;		
}

#my_info .user_pic img{
	width:100%;
	height:100%;
}

.male{
	background: url("../images/no_photo_male.jpg") no-repeat bottom center;	
}

.female{
	background: url("../images/no_photo_female.jpg") no-repeat bottom center;	
}

#my_info .pic_wrap{
	width:100%;
	height:100%;
	overflow:hidden;
}

#my_info .pic_wrap img{
	width:100%;
	height:100%;	
}

#my_info .txt{
	position:absolute;
	top:0;
	left:95px;	
	height:85px;		
	color:#434343;
	font-size:12px;
	/*margin:7px 60px 7px 7px;*/	
	overflow: hidden;
}

#my_info .txt span{	
	color:#909090;
}

#my_info .txt strong span{	
	color:#ff4200;
}

#my_buttons{
	clear:both;	
	width:100%;
}

#my_buttons .but_wrap{
	float:left;
	width:48%;
	height:52px;	
	margin-top:20px;	    	
}  

#my_buttons .but_wrap div{
	width:132px;
	height:100%;
	cursor:pointer;
}

#manage_account{	
	/*background: url("../images/manage_accaunt_button.png") no-repeat left;*/
	/*background: url("../images/stat_button.png") no-repeat left;*/	
}



#upload_image{
	/*background: url("../images/upload_image_button.png") no-repeat right;*/
	/*background: url("../images/upload_image_button2.png") no-repeat right;*/	
	/*float:right;*/
}

.orange_line{
	clear:both;
	width:100%;
	height:12px;
	background: #f88f22;	
}

.bg_white{
	background:#fff;
}

#statistics{
	background:#fff;
	/*height:210px;*/			
}

.stat_side{
	width:50%;
	/*height:220px;*/	
	float:left;	
}

.stat_side .items_wrap{
	width:100%;	
	height:55px;
	position: relative;
	/*clear:both;*/
}

.stat_side .items_wrap .stat_title{
	position: absolute;
	top:5px;
	left:5px;
	margin-right:60px;
	color:#262626;
	font-size:12px;
	font-weight:bold;	
}

.stat_side .items_wrap .stat_value{	
	position: absolute;
	top:0px;
	right:5px;
	background: url("../images/statistics_bg.png") no-repeat;
	width:49px;
	height:44px;	
	color:#fff;
	font-size:13px;
	font-weight:bold;
	text-align: center;
	line-height: 33px;
}

.bg_light_orange{
	background:#f7eed8;
}

.grey_line_wrap{	
	background: url("../images/upload_photo_top_bg.png") repeat-x;	
	width:100%;
	height:15px; 
}


.grey_line{
	background-repeat: no-repeat;	
	background-size: 100% 100%;
	background-image: url("../images/upload_photo_top_bg_wide.png");	
	width:100%;
	height:15px;	 
}

.up_buttons{
	height:63px;	
	margin: 0px 0px 5px -5px;    	
}

.take_a_photo{
	background: url("../images/take_a_photo_button.png") no-repeat;
}

.choose_from_library{
	background: url("../images/from_lib_button.png") no-repeat;
}

.continue{
	background: url("../images/continue_button.png") no-repeat;
}

.my_images{
	background: url("../images/my_images_button.png") no-repeat;
}


.bg_light_grey{
	background:#f6f6f6;
}

.bg_light_green{
	background:#fbfdef; 
}




#user_pictures{
	clear:both;	
	width:100%;
}

#user_pictures .pic_wrap{
	/*float:left;*/
	width:33%;	
	min-height:88px;	
	margin-top:20px;
	position: relative;		
	/*border:1px solid #ccc;*/	    	
}

#user_pictures .pic_wrap_center{
	width:33%;	
	min-height:88px;	
	margin-top:20px;
	position: relative;
	margin:20px auto 0px auto;		    
	/*border:1px solid #ccc;*/    	
}

.center{
	margin:20px auto 0px auto;
}


#user_pictures .pic_wrap img, #user_pictures .pic_wrap_center img{
	width:90%;
	/*height:84px;*/	
	/*cursor:pointer;*/
	border: 2px solid #fff;
	background: #ccc; 
}

#pic1{
	
}

#pic2{
	/*width:100%;*/
	/*margin:0 auto 0 auto;*/
}

#pic3{
	/*float:right;*/
}

.user_prof_buttons{
	/*width:47%;*/
	width:99%;	
	height:48px;
	border:3px solid #fff;	
	
	color:#fff;
	font-size: 16px;	
	font-weight:bold;
	line-height:3em;
	text-align:center;	
    margin: 15px 0px 15px 0px;
        
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;	
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;	
}

#add_to_fav{
	background: #f88f22;
	float:left;
}

#send_mes{
	/*background: #3f3f3f;*/
	background: #f88f22;
	float:right;
	
}

.user_data_group, .user_data_wrap .user_data{
	color:#682303;
	font-size:14px;
	line-height: 100%;	
	padding:7px;
}

.user_data_group{	
	background:#f0dca4;
}

.user_data_wrap .user_data{
	width:45%;
	height:auto;	
	float:left;
	background: #f7eed8;
	margin: auto 0px auto 0px;
	/*border: 1px solid red;*/	    	
}

.user_data_wrap{
	width:100%;	
	background: #f7eed8;
	height:auto;	 
}

.bold{
	font-weight: bold;
}

.underline{
	border-bottom: 1px solid #d1d1d1;
	width:100%;
	clear:both;
	height:1px;	  
}

.on4{
	width:54px;
	height:25px;
	background:url("../images/online_icon3.png") no-repeat center;   
	float:right;
}

.welcome{
	width:100%;
	height:100%;
	background: url("../images/welcome.jpg") no-repeat;
	background-size: 100% 100%;
			
}

.filler{
	width:100%;
	height:auto;
	background:#fff;
}


.error{
	margin:0 0 10px 0;
	color:red;
	text-align:center;	
	background:#FFBD87;
	border-bottom: 1px solid #FFA154;
	padding:10px 5px 10px 5px;
}

.warning{
	width:100%;
	text-align:center;
	padding:10px 5px 10px 5px;
	font-size:18px;
	color:#FF8800;
}

.hidden{
	display:none;
}

.subscr_text{
	background: #fdf5e0;
	padding:10px;
	margin-bottom:20px;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;	
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -moz-box-shadow: 2px 2px 3px #E8D1B3;
	-webkit-box-shadow: 2px 2px 3px #E8D1B3;
	box-shadow: 2px 2px 3px #E8D1B3;    
}

.subscr{
	position:relative;
	width:100%;
	height:90px;
	border:0px solid #F0ECE1;
	margin:15px 0 15px 0;
	background:#fff;
	font-size:15px;	
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;	
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;    
    -moz-box-shadow: 2px 2px 3px #E8D1B3;
	-webkit-box-shadow: 2px 2px 3px #E8D1B3;
	box-shadow: 2px 2px 3px #E8D1B3;
}

.subscr_left{
	position:absolute;
	left:0px;
	top:0px;	
	width:60px;
	height:100%;	
	background:#FFE9AB;
	border-top-left-radius: 10px;    	
    border-bottom-left-radius: 10px;
}

.subscr_left input[type="radio"]{
	margin-top:35px;
	margin-left:5px;
}

.subscr_sel{
	background:#ffc547;
}

.subscr_center{
	padding:10px;	
	position:absolute;
	left:70px;
	top:0px;
	padding:10px;
	line-height:1.5em;
}

.subscr_right{
	position:absolute;
	right:20px;
	top:35px;	
	width:40px;
	font-weight:bold;
	color:#ff4200;	
}

.subscrLink{
	
}

.regInfo{
	font-weight: bold;	
	margin-bottom:10px;
}


#login_page, 
#my_profile_page, 
#search_form_page,
#uploadDiv, 
#main_page, 
#test1_page, 
#test2_page,
#user_profile_page,
#messenger_page,
#chat_page,
#subscription_page,
#delete_images_page,
#upload_image_page,
#get_stat_div,
#regions_list,
#register_page,
#cities_wrap,
#EULA_page,
#edit_profile_page,
#forgot_password_page,
#report_abuse_page,
#contact_us_page,
#do_likes_page,
.pic_wrap,
.appTemplates,
.new_mes_count, 
.distance_value{
	display:none;
}

.noPicture{
	width: 33%;
}

.noPicture img{
	width:100%;
	min-height:88px;
	/*float:left;*/
	border: 2px solid #fff;
}


.sortButtonWrap{
	width:100%;
	height:60px;
	background: #fff;
	
	position: fixed;
	z-index: 500;
	top:70px;
	left:0px;	
	
	border-bottom:1px solid #c7c7c7;
}

.sortButton{
	width:65%;
	margin:10px 10px 20px;	
	display: none;
}


#sortByEntranceTime{
	display:none;
}

.EULA_Buttons{
	position:fixed; 
	bottom:0px; 
	left:0px; 
	width:100%; 
	height:70px;
	background:#ffe6bd;
	border-top:1px solid #faa423;
}

.EULA_Button{
	width:90%;
	margin:10px auto 0 auto;
}





#edit_profile_page .save .formButton{
	margin-right: 25px;
}


#edit_profile_page .edit {
	color: #000;
	font-size: 16px;
	line-height: 50px;
}

#edit_profile_page .sf_txt{
	font-weight: bold;
	line-height: 50px;
	/*display:table;*/
}

#edit_profile_page .sf_sel_wrap, #edit_profile_page .edit div{
	min-height:50px;
	box-sizing: border-box;
	padding-left:10px;
}

#edit_profile_page .sf_txt span {
	/*display: table-cell;
	 vertical-align: middle;*/
}

#edit_profile_page .edit button.formButton {
	font-size: 15px;
	margin-top: 10px;
	float: left;
}

#edit_profile_page .ui-btn {
	padding: 0;
}

#edit_profile_page input[type="text"], #edit_profile_page input[type="password"] {
	font-size: 15px;
	color: #505050;
	text-align: left;
	
	height:40px;
	
	margin-bottom: 20px;
	margin-top: 20px;
	
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	border-radius:5px;
	
}


.textar {
	max-height: 51px;
	line-height: 1em;
	font-size: 12px;
	overflow: auto;
	padding: 10px 0;
}

.formButton {
	background: #fa6f19;
	color: #fff;
	background-size: 100% 100%;
	padding: 8px 5px;
	border-radius: 5px;
}

.devider{
	width:100%;
	height:1px;
	border-bottom: 1px solid #bababa;
	cler:both;
}







/*
#regions_list{
	display: none;
}
*/

.loader{
	width:100%;
	height:150px;
	background: url('../images/loader.gif') no-repeat center center;
}

.loadingHTML{

}



/*body {background:#000}*/

.loading {
 -webkit-animation:fadein .3s;
    -moz-animation:fadein .3s;
      -o-animation:fadein .3s;
         animation:fadein .3s;
         
         display:none;
	
}
@-moz-keyframes fadein {
 from {opacity:0}
 to {opacity:1}
}
@-webkit-keyframes fadein {
 from {opacity:0}
 to {opacity:1}
}
@-o-keyframes fadein {
 from {opacity:0}
 to {opacity:1}
}
@keyframes fadein {
 from {opacity:0}
 to {opacity:1}
}

.spinner-wrapper {
 min-width:100%;
 min-height:100%;
 height:100%;
 
 /*top:0;*/
 bottom:0px;
 left:0;
 background:rgba(255,255,255,0.93);
 /*position:absolute;*/
 position:fixed;

 z-index:300;
}

.spinner-text {position:absolute;top:41.5%;left:40%;margin:16px 0 0 35px;font-size:9px;font-family:Arial;color:#BBB;letter-spacing:1px;font-weight:700}
.spinner {
 margin:0;
 display:block;
 position:absolute;
 left:45%;
 top:40%;
 border:25px solid rgba(100,100,100,0.2);
 width:1px;
 height:1px;
 border-left-color:transparent;
 border-right-color:transparent;
 -webkit-border-radius:50px;
    -moz-border-radius:50px;
         border-radius:50px;
 -webkit-animation:spin 1.5s infinite;
    -moz-animation:spin 1.5s infinite;
         animation:spin 1.5s infinite;
}

@-webkit-keyframes spin {
 0%,100% {-webkit-transform:rotate(0deg) scale(1)}
 50%     {-webkit-transform:rotate(720deg) scale(0.6)}
}

@-moz-keyframes spin  {
 0%,100% {-moz-transform:rotate(0deg) scale(1)}
 50%     {-moz-transform:rotate(720deg) scale(0.6)}
}
@-o-keyframes spin  {
 0%,100% {-o-transform:rotate(0deg) scale(1)}
 50%     {-o-transform:rotate(720deg) scale(0.6)}
}
@keyframes spin  {
 0%,100% {transform:rotate(0deg) scale(1)}
 50%     {transform:rotate(720deg) scale(0.6)}
}





.isRead{
	background: #bababa;
}

.mail_section.isRead .txt, .mail_section.isRead span{
	color: #000;
}

.notText, .notifications_wrap *{
	text-shadow:none;
}

.bingo{
	position: absolute;
	bottom: 5px;
	right: 69px;
	width: 50px;
	height: 25px;
	background-image: url("../images/swiper/bingo.png");
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: bottom center;
}





#do_likes_page{
	width: 100%;
	height: 500px;
	position: relative;
	margin-top: 70px;
	background: #000;
}

.swiper-container {
	position: absolute;
	top: 0px;
	right:0px;

	width: 100%;
	height: 100%;
}


.swiper-slide .cont{
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: contain;
	background-color: #000;
	background-repeat: no-repeat;
	position: relative;
}

#do_likes_page .toolbar{
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 100%;
	height: 100px;
	background: #bcbcbc;
	z-index: 9999999999;
}

#do_likes_page .toolbar .box{
	float: left;
	width: 33%;
	height: 100px;
}

#do_likes_page .toolbar .box .icon{
	width: 65px;
	height: 100%;
	margin: 0px auto 0px auto;
}


#do_likes_page .toolbar .box .icon.like{
	background: url('../images/swiper/like.png') no-repeat center center;
}

#do_likes_page .toolbar .box .icon.chat{
	background: url('../images/swiper/mess.png') no-repeat center center;
}

#do_likes_page .toolbar .box .icon.unlike{
	background: url('../images/swiper/unlike.png') no-repeat center center;
}

#do_likes_page .icon.close{
	position: absolute;
	right: 20px;
	top: 20px;
	background: url('../images/swiper/icon_cancel.png') no-repeat;
	background-size: 100%;
	width: 32px;
	height: 32px;
	z-index: 9999999999;
}

#do_likes_page .nickname{
	position: absolute;
	left: 0px;
	top: -5px;
	margin: 15px;
	padding: 5px 10px 5px 10px;
	color: #fff;
	background: #bcbcbc url('../images/swiper/bg_trasparent.png');
	z-index: 9999999999;

}



#bingo_page{
	height:700px;
}


.bingoWrapper{
	width: 100%;
	height: 700px;
	position: absolute;
	top: 0px;
	right: 0px;
	background: #000;
	opacity: .7;
	z-index: 999999999999;

}

.bingoWrapper .close{
	position:absolute;
	top: 20px;
	right: 20px;
	background: url('../images/swiper/close.png') no-repeat;
	background-size:  100% 100%;
	width: 37px;
	height: 37px;
}

.bingoWrapper .logo{
	width: 205px;
	height: 105px;
	margin: 75px auto 5px auto;
	background: url('../images/swiper/bingo.png') no-repeat;

}

.bingoWrapper .imagesWrapper{
	width: 310px;
	margin: 0px auto 0px auto;

}


.bingoWrapper .imageCont{
	float: right;
	width: 120px;
	height: 120px;
	background: black;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50%;
	border: 6px solid #fff;
}


.bingoWrapper .plus{
	float: right;
	width: 41px;
	height: 132px;
	background: url('../images/swiper/plus.png') no-repeat center center;
	margin-left:5px;
}


.bingoWrapper .txt{
	width: 100%;
	font-size: 17px;
	color: #fff;
	text-align: center;
	margin-top:20px;
}

.bingoWrapper .chat{
	margin: 20px auto 0px auto;
	background: url('../images/swiper/chatSplash.png') no-repeat;
	width: 225px;
	height: 57px;

}

.bingoWrapper .ignore{
	margin: 20px auto 0px auto;
	background: url('../images/swiper/ignoreSplash.png') no-repeat;
	width: 225px;
	height: 57px;
}





















#warningGradientOuterBarG{
margin:0 auto;
height:20px;
width:160px;
border:1px solid #fae8c0;
overflow:hidden;
background-color:#fff;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#fcbf23));
background: -moz-linear-gradient(top, #fff, #fcbf23);
background: -webkit-linear-gradient(top, #fff, #fcbf23);
background: -ms-linear-gradient(top, #fff, #fcbf23);
background: -o-linear-gradient(top, #fff, #fcbf23);
background: linear-gradient(top, #fff, #fcbf23);
}

.warningGradientBarLineG{
background-color:#fff;
float:left;
width:14px;
height:120px;
margin-right:24px;
margin-top:-28px;
-moz-transform:rotate(45deg);
-webkit-transform:rotate(45deg);
-ms-transform:rotate(45deg);
-o-transform:rotate(45deg);
transform:rotate(45deg);
}

.warningGradientAnimationG{
width:236px;
-moz-animation-name:warningGradientAnimationG;
-moz-animation-duration:0.3s;
-moz-animation-iteration-count:infinite;
-moz-animation-timing-function:linear;
-webkit-animation-name:warningGradientAnimationG;
-webkit-animation-duration:0.3s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-timing-function:linear;
-ms-animation-name:warningGradientAnimationG;
-ms-animation-duration:0.3s;
-ms-animation-iteration-count:infinite;
-ms-animation-timing-function:linear;
-o-animation-name:warningGradientAnimationG;
-o-animation-duration:0.3s;
-o-animation-iteration-count:infinite;
-o-animation-timing-function:linear;
animation-name:warningGradientAnimationG;
animation-duration:0.3s;
animation-iteration-count:infinite;
animation-timing-function:linear;
}

#warningGradientFrontBarG{
}

@-moz-keyframes warningGradientAnimationG{
0%{
margin-left:0px;
}

100%{
margin-left:-38px;
}

}

@-webkit-keyframes warningGradientAnimationG{
0%{
margin-left:0px;
}

100%{
margin-left:-38px;
}

}

@-ms-keyframes warningGradientAnimationG{
0%{
margin-left:0px;
}

100%{
margin-left:-38px;
}

}

@-o-keyframes warningGradientAnimationG{
0%{
margin-left:0px;
}

100%{
margin-left:-38px;
}

}

@keyframes warningGradientAnimationG{
0%{
margin-left:0px;
}

100%{
margin-left:-38px;
} 



#register_page .regInput{
	width: 180px;
}




